.navbar-inverse .navbar-nav>li>a {
    color: white;
    padding-left: 50px;
}

.container {
    min-width: 1300px;
}

#chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#plot-container {
    width: 80%;
}

#legend-container {
    width: 20%;
    max-height: 500px;
    margin-top: 20px;
    overflow-y: auto;
}

#data-spinner {
    /*margin-top: 200px*/
}

.hidden {
    display: none;
}

.dot {
    stroke: gray;
    stroke-width: 0.5;
    opacity: 0.7;
}

#legend-container {
    overflow-y: scroll;
}

.legend-text {
    font-size: 10px;
    text-transform: capitalize;
}

.legend-dot {
    stroke: gray;
    opacity: 0.2;
}

.focused {
    opacity: 0.8;
}